# Core packages
streamlit==1.37.1
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
plotly==5.23.0
requests==2.31.0
feedparser==6.0.10
certifi==2024.7.4

# Prophet + dependencies
pystan==2.19.1.1
cmdstanpy==1.2.2
prophet==1.1.5

# Trend analysis
pytrends==4.9.2
